@{
    ViewData["Title"] = "Tasks";
}

@model List<ListaDeTarefasWebMVC.Models.Task>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Título
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var task in Model)
                {
                    <tr>
                        <td>
                            @task.Id
                        </td>
                        <td>
                            @task.Title
                        </td>
                        <td>
                            @task.Description
                        </td>
                        <td>
                            @task.IsCompleted ? "Completa" : "Incompleta"
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

