@{
    ViewData["Title"] = "Tasks";
}

@model List<ListaDeTarefasWebMVC.Models.Task>

<div class="text-center">
    <h1 class="display-4">Lista de tarefas</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Título
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var task in Model)
                {
                    <tr>
                        <td>
                            @task.Id
                        </td>
                        <td>
                            @task.Title
                        </td>
                        <td>
                            @task.Description
                        </td>
                        <td>
                            @if (task.IsCompleted)
                            {
                                <span>Completa</span>
                            }
                            else
                            {
                                <span>Incompleta</span>
                            }
                        </td>
                        <td>
                            <a asp-action="CreateEditTask" class="btn btn-primary" asp-route-id="@task.Id">Editar</a>
                            <a asp-action="RemoveTask" class="btn btn-danger" asp-route-id="@task.Id">Remover</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

